extract_technologies.py
technologies_list.csv

generate_evidence.bkp.py
generate_evidence.py
Leads_List.xlsx
gemini_api_key.txt

analysis/archive/*
analysis/archive_state/*

dashboard.bkp.py

# Python
__pycache__/
*.py[cod]

# MacOS
.DS_Store
