extract_tech.py
extract_technologies.py
dashboard copy.py
dashboard.bkp.py
gemini_api_key.txt
generate_evidence.bkp.py
generate_evidence.py
Leads_List.xlsx
technologies_list.csv
analysis/archive/*
analysis/archive_state/*

# Python
__pycache__/
*.py[cod]

# MacOS
.DS_Store
